<!DOCTYPE html>
<html>
<head>
    <title>Edit Team</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_team.css') }}">
</head>
<body>
    <h2>Edit Team: {{ team.team_id }}</h2>

    <form method="POST">
        <label>Leader Email:</label>
        <input type="email" name="leader_email" value="{{ team.leader_email }}" required>

        <div id="memberFields">
            <label>Members Email:</label>
            {% for m in members %}
                <div>
                    <input type="email" name="member_email" value="{{ m.member_email }}" placeholder="Member Email" required>
                    <button type="button" class="delete-btn" onclick="this.parentElement.remove()">X</button>
                </div>
            {% endfor %}
        </div>

        <button type="button" class="add-member-btn" onclick="addMemberField()">+ Add Another Member</button>

        <input type="submit" value="Update Team">
    </form>

    <script>
        function addMemberField() {
            let div = document.getElementById("memberFields");
            let wrapper = document.createElement("div");

            let input = document.createElement("input");
            input.type = "email";
            input.name = "member_email";
            input.placeholder = "Member Email";
            input.required = true;

            let btn = document.createElement("button");
            btn.type = "button";
            btn.className = "delete-btn";
            btn.innerHTML = "X";
            btn.onclick = function() {
                wrapper.remove();
            };

            wrapper.appendChild(input);
            wrapper.appendChild(btn);
            div.appendChild(wrapper);
        }
    </script>

</body>
</html>
